<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colors</key>
	<dict>
		<key>Fill</key>
		<dict>
			<key>Quaternary</key>
			<dict>
				<key>light</key>
				<string>#172554</string>
				<key>dark</key>
				<string>#172554</string>
			</dict>
			<key>Tertiary</key>
			<dict>
				<key>light</key>
				<string>#DCEEFF</string>
				<key>dark</key>
				<string>#DCEEFF</string>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>light</key>
				<string>#EFF6FF</string>
				<key>dark</key>
				<string>#EFF6FF</string>
			</dict>
			<key>Primary</key>
			<dict>
				<key>dark</key>
				<string>#3378FF</string>
				<key>light</key>
				<string>#3378FF</string>
			</dict>
		</dict>
		<key>Text</key>
		<dict>
			<key>OnQuaternary</key>
			<dict>
				<key>dark</key>
				<string>#fff</string>
				<key>light</key>
				<string>#fff</string>
			</dict>
			<key>OnTertiary</key>
			<dict>
				<key>light</key>
				<string>#384254</string>
				<key>dark</key>
				<string>#384254</string>
			</dict>
			<key>OnSecondary</key>
			<dict>
				<key>dark</key>
				<string>#3378FF</string>
				<key>light</key>
				<string>#3378FF</string>
			</dict>
			<key>OnPrimary</key>
			<dict>
				<key>light</key>
				<string>#fff</string>
				<key>dark</key>
				<string>#fff</string>
			</dict>
		</dict>
	</dict>
	<key>Branding</key>
	<dict>
		<key>Name</key>
		<string>FinVue</string>
	</dict>
</dict>
</plist>
